{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mybizlist.css' %}">
    <title>MyBiz</title>
</head>
<body>
    <div class="container">
    
    {% for post in singleBiz %}
        <div class="card">
            <div class="title">
                <h2><a href="{% url 'myBizDetails' post.pk %}">{{post.bussiness_Name}}</a> </h2>
                <div class="info">
                    <h2><a href="{% url 'myBizDetails' post.pk %}">{{post.bussiness_Email}}</a></h2>
                    <h2>{{post.bussiness_Type}}</h2>
                    <h2>Contact</h2>
                </div>
                <div class="card-body">
                    <p>
                        {{post.bussiness_Description}} 
                    </p>
                </div>
                <div class="card-footer">
                    <div class="likes">likes</div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>

