{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'userbase.css'%}">
    {% block navlink %}
    {% endblock navlink %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>myBiz</title>
</head>
    <body>
        {% if user.is_authenticated %}
            <div class="container bg" id="main-pg">
                <button class="menuicon" id="menu-btn">
                    <span class="bar" id="bar-1"></span>
                    <span class="bar" id="bar-2"></span>
                    <span class="bar" id="bar-3"></span>
                </button>
                <!--button class="theme" id="mode-set">
                    <span>&#x263C;</span>
                </button-->
                <nav class="menubar" id="menu">
                    
                    
                        <a href="{% url 'dashboard' %}" class="nav-link">Home</a>
                        {% block nav %}
                            <a href="{% url 'currentprofile' %}" class="nav-link">Profile</a>
                            <a href="#link" class="nav-link">Links</a>
                            <a href="#link" class="nav-link">Contact</a>
                        {% endblock %}
                        <a href="#link" class="nav-link">About</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    
                </nav>
                <div class="dashboard">
                    <div class="menu-container">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    
                </div>
                <div class="plus-btns">
                    <button class="btn first"><i class="fa fa-github-alt fa-1x" aria-hidden="true"></i></button>
                    <button class="btn two"><i class="fa fa-etsy fa-1x" aria-hidden="true"></i></button>
                    <button class="btn three"><a href="{% url 'myBiz' %}"><i class="fa fa-file-text fa-1x" aria-hidden="true"></i></a></button>
                    <button class="btn four"><i class="fa fa-link fa-1x" aria-hidden="true"></i></button>
                    <button class="btn last"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        <script>
            //Responsive menu toggling
            let mainPage = document.querySelectorAll (".container .bg");
            const menuBarButton = document.getElementById("menu-btn");
            const navbar = document.getElementById("menu");
            let navBarLinks = navbar.querySelectorAll(".nav-link");
            let themeSet = document.getElementById("mode-set")
    
    
            menuBarButton.addEventListener("click", function(){
                menuBarButton.classList.toggle("active");
                navbar.classList.toggle("active");
                themeSet.classList.toggle("active");
    
            })
    
            navBarLinks.forEach(link=> link.addEventListener("click", function(){
                menuBarButton.classList.remove("active");
                navbar.classList.remove("active");
                themeSet.classList.remove("active");
            }));
    
            //change theme
            themeSet.addEventListener("click", function(){
                mainPage.classList.remove("bg");
                mainPage.classList.toggle("bg-dark");
                console.log(mainPage)
            })
        </script>
    </body>
    </html>
    

